@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

.home,
.contact {
  height: 100% !important;
}

section {
  height: 100% !important;

  padding: 20px !important;
}

nav {
  border-bottom: 2px solid rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
  width: 100% !important;
  z-index: 1 !important;
  background-image: url("../assets/bg-dark.gif") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
}

.resume {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-weight: 700 !important;
  background-color: #00adb5 !important;
  color: #eeeeee !important;

  box-shadow: #00adb5 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;

  padding: 10px 30px !important;
  text-decoration: none !important;
}

.navbar-nav .nav-link.active {
  color: #00adb5 !important;
  border-bottom: 2px solid #00adb5 !important;
}
.navbar-nav .nav-link:hover {
  color: #00adb5 !important;
  transition: 0.9s !important;
}

.navbar-brand {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: #eeeeee !important;
  font-family: "Montserrat", sans-serif !important;

  text-transform: uppercase;

  font-weight: bold;
  text-shadow: 1px 1px #00adb5;
}
.navbar-brand span {
  color: #00adb5 !important;
}

nav .container {
  padding: 25px !important;
}
.nav-item {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-left: 15px !important;
  font-weight: 600;
}
.nav-item .nav-link {
  color: #eeeeee !important;
}

.home {
  padding: 20px !important;
  font-weight: 600;
}
.home .container {
  margin-top: 12% !important;
}

.about .container {
  margin: 14% auto !important;
}

.works .container {
  margin: 8% auto !important;
}
.contact .container {
  margin-top: 8% !important;
  margin-bottom: 5% !important;
}

.projects .container {
  margin-top: 7% !important;
  margin-bottom: 12% !important;
}

.home img {
  cursor: pointer;
  border-radius: 50%;

  width: 100% !important;
}
.Tech_Stack {
  margin-top: 10% !important;
}

.home .Tech_Stack-body {
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home .Tech_Stack-body i {
  cursor: pointer;

  font-size: 55px;
  transition: transform 0.3s ease-in-out;
}
.home .Tech_Stack-body div {
  padding: 37px !important;
}

.home .Tech_Stack-body div:hover {
  animation: pulse 1s infinite;
}

.home .display-5 {
  color: #00adb5 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 50px !important;
  text-transform: uppercase;

  font-weight: bold;
  text-shadow: 2px 2px #222831;
}

.home .btn {
  border-bottom: 2px solid rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
  margin-top: 2px !important;
  font-weight: 600;
  font-size: 17px !important;
  color: #fff !important;
}

.fb {
  background-color: #4267b2 !important;
}
.Linkedin {
  background-color: #0072b1 !important;
}

.youtube {
  background-color: #ff0000 !important;
}

.about {
  background-image: url("../assets/bg-dark.gif") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;

  color: #eeeeee !important;
  font-weight: 600;
}
.about h1 {
  font-family: "Montserrat", sans-serif !important;

  font-weight: bold;
  text-shadow: 1px 1px #222831;
}

.about h1 span {
  color: #00adb5;
}
.about .btn {
  background-color: #00adb5 !important;
  color: #eeeeee !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 30% !important;
  box-shadow: #00adb5 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn:hover {
  transition: 0.5s !important;
  border-radius: 10px 100px / 120px;
}

.about .modal {
  color: black !important;
}

.about img {
  padding: 15px !important;
  border-radius: 50% 20% / 10% 40%;
  width: 100% !important;
  box-shadow: #00adb5 0px 4px 16px, #00adb5 0px 10px 10px !important;
}

.works h1 {
  font-family: "Montserrat", sans-serif !important;

  font-weight: bold;

  color: #222831 !important;
}
.works-header {
  font-weight: 600;
  margin-bottom: 2% !important;
}
.works-header p {
  font-weight: 600 !important;
}

.works .card {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-image: url("../assets/bg-dark.gif") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
  color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.1),
    0 8px 32px rgba(17, 17, 26, 0.05);
}
.works .card:hover {
  box-shadow: #00adb5 0px 10px 36px, #00adb5 0px 20px 40px !important;
  transition: 0.2s !important;
  transform: translateY(-10px);
}
.works .card .btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e63946;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none !important;
}
.works .card .btn:hover {
  background-color: #ba1a27 !important;
}

.works i {
  font-weight: 600;

  color: #00adb5 !important;
  font-size: 70px !important;

  margin: 10px auto !important;
  padding: 30px !important;
}
.works .modal {
  color: #222831 !important;
  font-weight: 600 !important;
}

.projects {
  background-image: url("../assets/bg-dark.gif") !important;

  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
  color: #eeeeee !important;
}
.projects h1 {
  margin-bottom: 5% !important;
  font-family: "Montserrat", sans-serif !important;

  font-weight: bold;
  text-shadow: 1px 1px #222831;
}
.projects h1 span {
  color: #00adb5;
}
.projects .box {
  cursor: pointer;
  border: 5px solid #222831 !important;
  margin-bottom: 30px !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.projects .box:hover {
  box-shadow: #00adb5 0px 4px 16px, #00adb5 0px 10px 10px !important;
  transform: translateY(-10px);
  transition: 0.8s !important;
}

.projects .box img {
  width: 100% !important;
  border-bottom: 5px solid #222831 !important;
  height: 290px !important;
  margin-bottom: 15px !important;
}
.projects .box .btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e63946;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none !important;
  width: 80%;
  margin: 20px auto !important;
}

.projects .box .btn:hover {
  background-color: #ba1a27;
}

.contact {
  padding: 10px !important;
  margin-bottom: 4% !important;
}

.contact .contact-header {
  margin: 10px auto !important;
  color: #222831 !important;
  font-weight: 600;
  width: 90% !important;
}
.contact .contact-header span {
  color: #0072b1 !important;
}
.contact form {
  margin: 5px auto !important;
  padding: 10px !important;
  width: 90% !important;
}

.contact form .btn {
  background-color: #00adb5 !important;
  color: #eeeeee !important;
  padding: 12px !important;
  margin: 15px auto !important;
  width: 100% !important;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.form-group input,
.form-group textarea {
  outline: 0px !important;
  font-family: Arial, FontAwesome;
  width: 100% !important;
  padding: 13px !important;
  font-weight: 600;
  border: none !important;
  border-radius: 5px !important;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.footer {
  background-image: url("../assets/bg-dark.gif") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
  color: #eeeeee !important;
  padding: 20px !important;
}

.navbar-mobile {
  display: none !important;
}

.sidebar {
  text-align: center !important;
  width: 100%;
  position: fixed;
  align-items: left;
  top: 75px !important;
  height: 100%;
  left: -100%;
  transition: all 0.5s ease;
  z-index: 9999;
}

.sidebar a {
  display: block;
  color: white;
  border-bottom: 2px solid rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
  padding: 10px 0;
  margin-bottom: 10px !important;
  text-decoration: none;
  font-size: 18px !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
.sidebar a:hover {
  text-decoration: none !important;
  color: white !important;
}
.sidebar .resume {
  margin-top: 20px !important;
  margin-left: 0px !important;
}

.sidebar .Linkedin,
.sidebar .fb,
.sidebar .yt {
  padding: 10px 30px !important;
  font-weight: 700;
  border-radius: 0px !important;
  border-bottom: 2px solid rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
}
.yt {
  background-color: #ff0000 !important;
  color: white !important;
}

.sidebar .active {
  color: #00adb5 !important;

  text-decoration: none !important;
}

@media screen and (max-width: 700px) {
  .nav-desktop {
    display: none !important;
  }
  .navbar-mobile {
    display: block !important;
  }

  .sidebar-hidden {
    background-image: url("../assets/bg-dark.gif") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center;
    display: block !important;
    top: 75px !important;
    left: 0% !important;
    background-color: black;
    z-index: 9999;
  }

  nav .container {
    padding: 10px !important;
  }

  .nav-item {
    margin-left: 5px !important;
  }
  .navbar-toggler {
    color: #0072b1 !important;
    outline: 0px !important;
    border: 2px solid #eeeeee !important;
  }
  .navbar-toggler span {
    color: #eeeeee !important;
  }
  .resume {
    text-align: center;
    margin-top: 6px !important;
    margin-left: 5px !important;
  }

  section {
    height: auto !important;

    padding: 1px !important;
  }
  .card,
  .box {
    margin-bottom: 20px !important;
  }

  .home {
    text-align: center !important;
  }
  .home img {
    margin-bottom: 20px !important;
  }

  .home .container {
    margin-top: 35% !important;
    padding-bottom: 20% !important;
  }

  .about img {
    margin-bottom: 15px !important;
    border-radius: 0px !important;
    box-shadow: #00adb5 0px 4px 14px, #00adb5 0px 5px 5px !important;
  }
  .about .btn {
    width: 100% !important;
  }

  h1 {
    font-size: 25px !important;
    margin: 10px auto !important;
  }
  .home .display-5 {
    margin-top: 17px !important;
    font-size: 30px !important;
    font-weight: 600 !important;
  }
  .projects .box img {
    height: 200px !important;
    margin-bottom: 10px !important;
  }
  .home .Tech_Stack-body div {
    padding: 20px !important;
    border: none !important;
  }
  .home .Tech_Stack i {
    font-size: 60px !important;
  }
  .contact form {
    width: 100% !important;
  }

  .works .card:hover {
    box-shadow: none !important;
    transform: none !important;
  }
}
